includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: max
    paths:
        - src/
        - taw-hub-companion.php
        - uninstall.php

    parallel:
        maximumNumberOfProcesses: 2
